body {
    font-family: Consolas, 微軟正黑體;
    background-color: #222222;
    color: white;
}

.ui-widget, .ui-widget button, .ui-widget input {
    font-family: Consolas, 微軟正黑體;
}

#levels {
    background-color: #222222;
    color: white;
}

.left_div {
	display:table-cell;
	width: 100px;
    text-align: center;
    vertical-align: middle;
}

.right_div {
    display:table-cell;
    width: auto;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.elem {

    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    text-align: center;
}

.elem_background {
    background-color: red;
}

.song_clear_c {
    background-color: green;
}

.song_clear_hc {
    background-color: purple;
}

.song_clear_uc {
    background-color: red;
}

.song_clear_puc {
    background-color: yellow;
}

.canvas_opacity {
    -ms-opacity: 0.4;
    opacity: 0.4;
}

.score_div {
    border: 2px solid;
}

.score_div_no_bottom {
    border-bottom: none;
}

.pos_absolute {
    position: absolute;
}

.song_info_popup_close {
    font-size: 50px;
    font-family: 微軟正黑體;
    border-radius: 4px;
    width: 100%;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.popup {
    background-color: #bbbbbb;
    color: black;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 19px;
    font-size: 50px;
    text-align: center;
    width: 80%;
}

.song_info_text {
    text-align: center;
}

a {
    color: white;
}

.no_scroll {
    overflow: hidden;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }